* {
  border: none;
  border-radius: 0;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  font-family:
    Jetbrains Mono,
    Iosevka,
    Iosevka Nerd Font,
    Iosevka Thin,
    Iosevka ExtraLight,
    Iosevka Aile,
    Iosevka Etoile,
    Iosevka Slab,
    Iosevka Term,
    Iosevka Fixed,
    Victor Mono,
    FontAwesome,
    Noto Sans CJK;
  font-size: 20px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  /* background: rgba(30, 30, 46, 0.5); */
  background: rgba(30, 30, 30, 0.5);
  border-radius: 5px;
  /* margin-bottom: 40px; */
  /* border-bottom: 1px solid hotpink; */
  color: #f4d9e1;
}

#workspaces {
  /* border: solid 0.3px #fff; */
  border: none;
  box-shadow: 0 0 0 0.3px #fff;
  /* background: #282828; */
  /* background: rgba(30, 30, 30, 0.8); */
  margin: 5px 5px 5px 5px;
  padding: 0 25px 0 25px;
  border-radius: 5px;
  /* border: solid 0 #f4d9e1; */
  font-weight: normal;
  font-style: normal;
}
#workspaces button {
  padding: 0 6px;
  border-radius: 5px;
  /* color: #928374; */
  color: #eee;
}

#workspaces button.active {
  color: #f4d9e1;
  background-color: transparent;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: #e6b9c6;
  color: #65bcfd;
  border-radius: 5px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#custom-randwall,
#custom-launcher {
  background: transparent;
  padding: 5px 5px 5px 5px;
  margin: 8px 8px 8px 8px;
  border-radius: 5px;
  /* border: solid 2px #f4d9e1; */
}

#custom-date {
  color: #d3869b;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  padding: 5px 10px;
}

#tray {
  /* background: #282828; */
  margin: 5px 10px 5px 10px;
  border-radius: 5px;
  padding: 0 5px;
  /* border: solid 1px #282738; */
}

#custom-clipboard {
  /* background: #282828; */
  color: #ffffff;
  /* margin: 5px 10px 5px 10px; */
  /* border-radius: 5px; */
  padding: 0 5px;
}

#custom-clipboard:hover {
  color: #e6b9c6;
}

#clock {
  /* color: #e6b9c6; */
  color: #fabd2d;
  /* background-color: #282828; */
  /* border-radius: 0 0 0 24px; */
  border-radius: 5px;
  padding-left: 13px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  /* border-left: solid 1px #282738; */
  font-size: 16px;
  /* border: solid 0.3px #fff; */
}

#battery {
  color: #fff;
  /* color: #9ece6a; */
  font-weight: bold;
  font-size: 16px;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#backlight {
  /* background-color: #24283b; */
  color: #fff;
  /* color: #db4b4b; */
  border-radius: 0 0 0 0;
  /* margin: 5px; */
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 0;
}

#network {
  color: #f4d9e1;
  border-radius: 8px;
  margin-right: 5px;
}

#pulseaudio {
  color: #f4d9e1;
  border-radius: 8px;
  margin-left: 0;
}

#pulseaudio.muted {
  background: transparent;
  color: #928374;
  border-radius: 8px;
  margin-left: 0;
}

#custom-randwall {
  color: #f4d9e1;
  border-radius: 8px;
  margin-right: 0;
}

#custom-launcher {
  color: #e5809e;
  /* background-color: #282828; */
  border-radius: 0 24px 0 0;
  margin: 0 0 0 0;
  padding: 0 20px 0 13px;
  /*border-right: solid 1px #282738;*/
  font-size: 20px;
}

#custom-launcher button:hover {
  background-color: #fb4934;
  color: transparent;
  border-radius: 8px;
  margin-right: -5px;
  margin-left: 10px;
}

#custom-playerctl {
  /* background: #282828; */
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
  background: transparent;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}
#window {
  /* background: #65bcfd; */
  background: #f24333;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: normal;
  font-style: normal;
  font-family: Iosevka;
  font-size: 20px;
}

#custom-wf-recorder {
  padding: 0 20px;
  color: #e5809e;
  background-color: #1e1e2e;
}
/* TODO: Introduce colors to the cpu, memory etc.  */
#cpu {
  background-color: #282828;
  color: #fabd2d;
}
#memory {
  color: #83a598;
}
#disk {
  color: #8ec07c;
}

#cpu,
#memory,
#disk {
  background-color: #282828;
  border-radius: 5px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 10px 0 10px;
  font-weight: 200;
  font-style: normal;
  font-family: Iosevka Slab;
  font-size: 20px;
}
#custom-hyprpicker {
  background-color: #282828;
  /*color: #8EC07C;*/
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 11px 0 9px;
  font-weight: bold;
}

#bottom-bar > .module {
  margin-bottom: 20px;
}

#mpris {
  /* background-color: #65bcfd; */
  background-color: #f9e9ec;
  color: black;
  /* color: #f4d9e1; */
  /* color: #fff; */
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 100;
}

#custom-menu {
  /* background-color: #282828; */
  color: #f4d9e1;
  /* color: magenta; */
  /* border-radius: 5px; */
  padding: 5px 10px;
  font-weight: normal;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 22px;
}
